name: Print context
on: 
  workflow_dispatch:
  pull_request:
    types: [opened, edited, reopened]
    branches:
      - master
jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Print context
        run: echo "${{ toJSON(github) }}"
