name: Environment
on: 
  workflow_dispatch:
env:
  NODE_ENV: production
  GH_SECRET: ${{ secrets.DEPLOY_SECRET }}
jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Set variable for next step
        run: echo "NEW_CUSTOM_VAR=New value" >> "$GITHUB_ENV"
      - name: Print env
        run: |
          echo "${{ env.NODE_ENV }}"
          echo "${{ env.GH_SECRET }}"
      - name: Get variable from first step
        run: echo "${{ env.NEW_CUSTOM_VAR }}"
      - name: Set env in step
        env:
          NODE_ENV: dev
        run: echo "${{ env.NODE_ENV }}"
