name: Environment
on: 
  workflow_dispatch:
env:
  NODE_ENV: production
  GH_SECRET: 1
jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Print env
        run: |
          echo "${{ env.NODE_ENV }}"
          echo "${{ env.GH_SECRET }}"
